{% load static %}
<!DOCTYPE html>
<html lang="ar" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>الباسطى جروب | للأنظمة الأمنية </title>
    
    <link rel="icon" type="image/png" href="https://img.icons8.com/ios-filled/50/007bff/fingerprint.png">

    <meta name="description" content="الباسطى جروب للأنظمة الأمنية والذكية - أحدث تقنيات كاميرات المراقبة، الأبواب الذكية بالبصمة، وأنظمة الحماية الذكية لمنزلك وشركتك.">

</head>
<body>
    {% include 'navbar.html' %}

    {% block content %}
    {% endblock %}

    {% include 'footer.html' %}
</body>
</html>